* {
  box-sizing: border-box;
}

html {
  font-size: 26px;
}

section{
  display: block;
}

.container {
  text-align: center;
}

h1, h2 {
/*  font-family: 'Open Sans';*/
  font-weight: 700;
  margin: 15px 0;
}

h1 {
  font-size: 5.5em;
  text-align: center;
  letter-spacing: -5px;
  margin: 50px 0;
  line-height: 1em;
}

h2 {
  font-size:  1.25em;
  position: relative;
  display: inline-block;
  f
}

h2:before {
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  bottom: -7px;
  background: #fff;
}

p {
  margin-top: 5px;
}

.copy {
  max-width: 980px;
  padding: 0 20px;
  margin: 0 auto;
}
.copy2 {
  max-width: 980px;
  padding: 3em 20px 0 20px;
  margin: 3em auto;
}
.portfolio-bq {
  color: #fff;
  text-align: center;
}

.port-item {
  color: #fff;
  width: 33.333333333333333%;
  height: 400px;
  float: left;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: transform .2s;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  background-position: center;
}

.port-item-wide {
  color: #fff;
  width: 66.6666666666666666%;
  height: 400px;
  float: left;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: transform .2s;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  background-position: center;
}

.port-item img {
  width: 100%;
  min-height: 100%;
  height: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.inner {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(8, 136, 240, 0.8);
  opacity: 0;
  transition: .4s;
  padding: 2% 7%;
}
.inner p {
  transform: translateY(5px);
  transition: transform .5s;
}

.port-item .button {
  margin-top: 0;
  transition: all .5s;
}
.port-item .button:hover {
  transition: all .5s;
}
.port-item:hover .inner {
  top: 0;
  transition: .3s;
  opacity: 1;
}

.port-item:hover .inner p, .port-item:hover .button {
  transform: translateY(-5px);
  transition: transform .7s;
}

.port-item:hover h2:before {
  width: 100%;
  transition: .5s;
}

@media (max-width: 980px) {
  h1 {
    font-size: 5em;
  }

  .port-item {
    width: 50%;
  }
}
@media (max-width: 700px) {
  html {
    font-size: 21px;
  }

  h1 {
    font-size: 3em;
  }

  .port-item {
    width: 100%;
  }
}
